/*  ******** Recent Works Section ****** */

.recentworks_cnt {
  padding: 0 1.5rem;
  background-color: var(--color-background_clear);
}

.RecentWorksSectionTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  text-align: center;
  align-items: center;
}

.Title_MyRecentWorks h3 {
  font-family: var(--font-title1);
  font-weight: lighter;
  color: var(--color-font-title2-dark);
  font-size: 2rem;
}

.recentworks-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-line-div);
}

/*************** Grid layout for  project cards ********************/

/* The grid container */
.grid_works {
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

/* Style the left column */
.header1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ****** main card work *********** */
img {
  width: 100%;
  overflow: hidden;
}

.cnt_info_main_card {
  margin-bottom: 2rem;
  padding: 0;
}

.cnt_card_low_part {
  display: flex;
  flex-direction: column;
}

.cnt_img_main_card {
  width: auto;
}

.cnt_img_main_card > img {
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  }

.MainCardTitle {
  font-family: var(--font-card-title);
  font-size: 2rem;
  font-weight: lighter;
  color: var(--color-main-card-title);
  padding-top: 0rem;
}

.MainCardDescrip {
  font-size: 0.9rem;
  font-family: var(--font-card-text);
  color: var(--color-main-card-text);
  padding-top: 0.7rem;
}

.list_feat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.4rem;
  padding: 0;
  flex-wrap: wrap;
}

.li_btn {
  list-style: none;
  font-family: var(--font-text1);
  color: var(--color-main-card-text);
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border: solid 1px var(--color-main-card-title);
  margin-right: 0.8rem;
  font-style: normal;
}

.li_pill {
  list-style: none;
  font-family: var(--font-popup-li);
  color: var(--color-li_btn_popup);
  background-color: var(--color-back_li_btn_popup);
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-style: normal;
}

/******************* Cards for other works ***************************/
.sec_card_cnt {
  height: 500px;
  width: 100%;
  max-width: 300px; 
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.5rem;
  justify-self: center;
  transition: all 0.3s ease;
}

.info_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-back-dark);
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.info_card:hover {
  background-color: var(--color-back-dark2);
}

.cnt_img_card {
  height: 60%;
  padding: 1rem;
  overflow: hidden;
}

.cnt_img_card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ************** Fonts and config for cards ******************* */
.cnt_info_card {
  padding: 0rem 1rem;
}

.Title1_card {
  color: var(--color-font-title1_card);
  font-family: var(--font-card-title);
  font-size: 1.8rem;
  font-weight: 300;
}

.Title2_card {
  color: var(--color-font-title1_card);
  font-family: var(--font-card-text);
  font-size: 1.2rem;
  font-weight: bold;
}

.CardDescrip {
  color: var(--color-font-text1_card);
  font-family: var(--font-card-text);
  font-size: 0.9rem;
  padding-top: 0rem;
}

/********************** buttons for card ********************/

.SeeProjectBtn {
  display: block;
  background-color: var(--color-font-title1);
  border: 1px solid var(--color-font-title1);
  font-family: var(--font-btn);
  font-weight: bold;
  padding: 0.75rem;
  text-decoration: none;
  color: var(--color-font-text1_card);
  transition: transform 0.4s ease;
  transition: color 0.3s, background-color 0.3s; 
  text-align: center;
  letter-spacing: 0.1rem;
  border-radius: 0 0 0.5rem 0.5rem;  
}

.BtnClass {
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
}

.project_btn_2 {
  color: var(--color-font-menu);
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.8s, color 0.3s, background-color 0.3s ease ; 
}

.SeeProjectBtn:hover {
  border: 1px solid var(--color-btn-normal);
  background-color: var(--color-btn-hover);
  color: var(--color-font-title1);
  cursor: pointer;
}

.SeeProjectBtn:active {
  background-color: var(--color-btn-active);
  color: var(--color-btn-disabled);
}


/********************** MEDIA QUERIES *********************************/

/****************** desktop version (768px) ***********************/

@media screen and (min-width: 768px) {
  .header1 {
    display: flex;
    flex-direction: row;
    width: 90vw;
    padding-bottom: 2rem;
  }
  
  .RecentWorksSectionTitle {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .Title_MyRecentWorks {
    padding-right: 1rem;
  }

  .Title_MyRecentWorks h3 {
    width: 20rem;
  }

  .recentworks-line {
    width: 100%;
  }

  .grid_works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
  }

  .cnt_info_main_card {
    margin-bottom: 0rem;
    padding: 0 1rem;
  }

  .cnt_card_low_part {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .BtnMainCard {
    position: relative;
    left: -14px;
    border-radius: 0 2rem 2rem 0rem;
    height: 4rem;
    width: 50%;
  }
  
}

